/* 헤더영역 시작 */

.headerWrap{
    width:100%;
    height:900px;
    background: url(img/header.jpg) no-repeat center;
    background-size: cover;
    position: relative;
}
.headerWrap .header{
    width:1200px;
    margin:0 auto;

}
.headerWrap .menu{
    height:70px;
    background:skyblue;
    font-size: 12px;
}
.headerWrap .menu .logo{
    font-size: 1.5rem;
}
.headerWrap .menu ul{
    overflow: hidden;
}
.headerWrap .menu ul li{
    float:left;
}
.headerWrap .menu ul li a{
    display: block;
    padding: 20px 10px;
}