/* 헤더영역 시작 */

.headerWrap{
    width:100%;
    height:900px;
    background: url(img/header1.jpg) no-repeat center;
    background-size: cover;
    position: relative;
}
.headerWrap .header{
    width:1200px;
    margin:0 auto;
    color:white;
}
.headerWrap .menu{
    height:70px;
    font-size: 16px;
    overflow: hidden;
}
.headerWrap .menu .logo{
    float: left;
    font-size: 25px;
    font-weight: 900;
    padding:35px 20px;
}
.headerWrap .menu ul{
    overflow: hidden;
    float:right;
}
.headerWrap .menu ul li{
    float:left;
}
.headerWrap .menu ul li a{
    display: block;
    font-size: 13px;
    font-weight: 500;
    padding: 45px 25px;
    transition: 0.2s;
}
.headerWrap .menu ul li a:hover{
    color:#BED732;
    text-decoration: underline;
}
.header .text{
    margin-top: 200px;
}
.header .text>h1{
    font-size: 4rem;
    line-height: 120%;
    margin-bottom: 50px;
}
.header .text>div{
    width:300px;
    height:2px;
    background:white;
    margin-bottom: 50px;
}
.header .text>p{
    line-height: 170%;
}

/* contents */
.contentsWrap{
    width:100%;
}
/* con1 */
#con1>div{
    width:1200px;
    margin:0 auto;
}
#con1{
    width:100%;
    height:900px;
    background: url(img/sarlimerbg.png) no-repeat center;
    background-size: cover;
    margin-bottom: 1000px;
}
#con1 .con1{
    padding-top: 200px;
}
#con1 h4{
    color: #BED732;
    font-size: 36px;
    font-weight: 600;
    columns: #222222;
}
#con1 h1{
    font-size: 72px;
    font-weight: 900;
    position: relative;
    display: inline-block;
}
#con1 h1::before{
    display: block;
    content: "";
    clear: both;
    width: 100%;
    height: 30px;
    background:#BED732;
    position: absolute;
    bottom: 20%;
    z-index: -1;

}
#con1 p{
    font-size: 20px;
    padding-top: 30px;
    color: #6A6A6A;
}
#con1 .more{
    display: block;
    font-size: 18px;
    font-weight: 900;
    text-decoration: underline;
    padding-top: 140px;
}
#con1 .story{
    width: 60%;
    height: 200px;
    margin-left:700px;
    margin-top: -150px;
    position: relative;
}
#con1 .story span{
    display: inline-block;
    font-size: 20px;
    padding-top: 20px;
    font-weight: 600;
}
#con1 .story > .slick-prev {
    position: absolute;
    width: 23px;
    height: 47px;
    background: url(/img/prev.png)no-repeat;
}

#con1 .story > .slick-next {
    position: absolute;
    height: 47px;
    width: 23px;
    background: url(/img/next.png)no-repeat;
}